<section id="events" class="events">
  <div class="container-fluid aos-init aos-animate" data-aos="fade-up">
    <div class="section-header">
      <h2>Events</h2>
      <p>Share <span>Your Moments</span> In Our Restaurant</p>
    </div>
    <div
      class="slides-3 swiper swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden aos-init aos-animate"
      data-aos="fade-up" data-aos-delay="100">
      <div class="swiper-wrapper" id="swiper-wrapper-4d4ea7987a46b656" aria-live="off"
        style="transition-duration: 0ms; transform: translate3d(-2310px, 0px, 0px);">
        <div class="swiper-slide event-item d-flex flex-column justify-content-end swiper-slide-duplicate"
          style="background-image: url(&quot;../../assets/imgs/events-1.jpg&quot;); width: 462px;" data-swiper-slide-index="0"
          role="group" aria-label="1 / 3">
          <h3>Custom Parties</h3>
          <div class="price align-self-start">$99</div>
          <p class="description"> Quo corporis voluptas ea ad. Consectetur inventore sapiente ipsum voluptas eos omnis
            facere. Enim facilis veritatis id est rem repudiandae nulla expedita quas.</p>
        </div>
        <div
          class="swiper-slide event-item d-flex flex-column justify-content-end swiper-slide-duplicate swiper-slide-duplicate-prev"
          style="background-image: url(&quot;../../assets/imgs/events-2.jpg&quot;); width: 462px;" data-swiper-slide-index="1"
          role="group" aria-label="2 / 3">
          <h3>Private Parties</h3>
          <div class="price align-self-start">$289</div>
          <p class="description"> In delectus sint qui et enim. Et ab repudiandae inventore quaerat doloribus. Facere
            nemo vero est ut dolores ea assumenda et. Delectus saepe accusamus aspernatur.</p>
        </div>
        <div
          class="swiper-slide event-item d-flex flex-column justify-content-end swiper-slide-duplicate swiper-slide-duplicate-active"
          style="background-image: url(&quot;../../assets/imgs/events-3.jpg&quot;); width: 462px;" data-swiper-slide-index="2"
          role="group" aria-label="3 / 3">
          <h3>Birthday Parties</h3>
          <div class="price align-self-start">$499</div>
          <p class="description"> Laborum aperiam atque omnis minus omnis est qui assumenda quos. Quis id sit quibusdam.
            Esse quisquam ducimus officia ipsum ut quibusdam maxime. Non enim perspiciatis.</p>
        </div>
        <div class="swiper-slide event-item d-flex flex-column justify-content-end swiper-slide-duplicate-next"
          style="background-image: url(&quot;../../assets/imgs/events-1.jpg&quot;); width: 462px;" data-swiper-slide-index="0"
          role="group" aria-label="1 / 3">
          <h3>Custom Parties</h3>
          <div class="price align-self-start">$99</div>
          <p class="description"> Quo corporis voluptas ea ad. Consectetur inventore sapiente ipsum voluptas eos omnis
            facere. Enim facilis veritatis id est rem repudiandae nulla expedita quas.</p>
        </div>
        <div class="swiper-slide event-item d-flex flex-column justify-content-end swiper-slide-prev"
          style="background-image: url(&quot;../../assets/imgs/events-2.jpg&quot;); width: 462px;" data-swiper-slide-index="1"
          role="group" aria-label="2 / 3">
          <h3>Private Parties</h3>
          <div class="price align-self-start">$289</div>
          <p class="description"> In delectus sint qui et enim. Et ab repudiandae inventore quaerat doloribus. Facere
            nemo vero est ut dolores ea assumenda et. Delectus saepe accusamus aspernatur.</p>
        </div>
        <div class="swiper-slide event-item d-flex flex-column justify-content-end swiper-slide-active"
          style="background-image: url(&quot;../../assets/imgs/events-3.jpg&quot;); width: 462px;" data-swiper-slide-index="2"
          role="group" aria-label="3 / 3">
          <h3>Birthday Parties</h3>
          <div class="price align-self-start">$499</div>
          <p class="description"> Laborum aperiam atque omnis minus omnis est qui assumenda quos. Quis id sit quibusdam.
            Esse quisquam ducimus officia ipsum ut quibusdam maxime. Non enim perspiciatis.</p>
        </div>
        <div
          class="swiper-slide event-item d-flex flex-column justify-content-end swiper-slide-duplicate swiper-slide-next"
          style="background-image: url(&quot;../../assets/imgs/events-1.jpg&quot;); width: 462px;" data-swiper-slide-index="0"
          role="group" aria-label="1 / 3">
          <h3>Custom Parties</h3>
          <div class="price align-self-start">$99</div>
          <p class="description"> Quo corporis voluptas ea ad. Consectetur inventore sapiente ipsum voluptas eos omnis
            facere. Enim facilis veritatis id est rem repudiandae nulla expedita quas.</p>
        </div>
        <div
          class="swiper-slide event-item d-flex flex-column justify-content-end swiper-slide-duplicate swiper-slide-duplicate-prev"
          style="background-image: url(&quot;../../assets/imgs/events-2.jpg&quot;); width: 462px;" data-swiper-slide-index="1"
          role="group" aria-label="2 / 3">
          <h3>Private Parties</h3>
          <div class="price align-self-start">$289</div>
          <p class="description"> In delectus sint qui et enim. Et ab repudiandae inventore quaerat doloribus. Facere
            nemo vero est ut dolores ea assumenda et. Delectus saepe accusamus aspernatur.</p>
        </div>
        <div
          class="swiper-slide event-item d-flex flex-column justify-content-end swiper-slide-duplicate swiper-slide-duplicate-active"
          style="background-image: url(&quot;../../assets/imgs/events-3.jpg&quot;); width: 462px;" data-swiper-slide-index="2"
          role="group" aria-label="3 / 3">
          <h3>Birthday Parties</h3>
          <div class="price align-self-start">$499</div>
          <p class="description"> Laborum aperiam atque omnis minus omnis est qui assumenda quos. Quis id sit quibusdam.
            Esse quisquam ducimus officia ipsum ut quibusdam maxime. Non enim perspiciatis.</p>
        </div>
      </div>
      <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal">
        <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 1"></span><span
          class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span><span
          class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button"
          aria-label="Go to slide 3" aria-current="true"></span></div><span class="swiper-notification"
        aria-live="assertive" aria-atomic="true"></span>
    </div>
  </div>
</section>
