<section id="menu" class="menu">
  <div class="container aos-init aos-animate" data-aos="fade-up">
    <div class="section-header">
      <h2>Our Menu</h2>
      <p>Check Our <span>Yummy Menu</span></p>
    </div>
    <ul class="nav nav-tabs d-flex justify-content-center aos-init aos-animate" data-aos="fade-up" data-aos-delay="200"
      role="tablist">
      <li class="nav-item" role="presentation"> <a class="nav-link show" data-bs-toggle="tab"
          data-bs-target="#menu-starters" aria-selected="false" role="tab" tabindex="-1">
          <h4>Starters</h4>
        </a></li>
      <li class="nav-item" role="presentation"> <a class="nav-link" data-bs-toggle="tab"
          data-bs-target="#menu-breakfast" aria-selected="false" role="tab" tabindex="-1">
          <h4>Breakfast</h4>
        </a></li>
      <li class="nav-item" role="presentation"> <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-lunch"
          aria-selected="false" role="tab" tabindex="-1">
          <h4>Lunch</h4>
        </a></li>
      <li class="nav-item" role="presentation"> <a class="nav-link active" data-bs-toggle="tab"
          data-bs-target="#menu-dinner" aria-selected="true" role="tab">
          <h4>Dinner</h4>
        </a></li>
    </ul>
    <div class="tab-content aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
      <div class="tab-pane fade" id="menu-starters" role="tabpanel">
        <div class="tab-header text-center">
          <p>Menu</p>
          <h3>Starters</h3>
        </div>
        <div class="row gy-5">
          <div class="col-lg-4 menu-item"> <a href="../../assets/imgs/menu/menu-item-1.png" class="glightbox"><img
                src="../../assets/imgs/menu/menu-item-1.png" class="menu-img img-fluid" alt=""></a>
            <h4>Magnam Tiste</h4>
            <p class="ingredients"> Lorem, deren, trataro, filede, nerada</p>
            <p class="price"> $5.95</p>
          </div>
          <div class="col-lg-4 menu-item"> <a href="../../assets/imgs/menu/menu-item-2.png" class="glightbox"><img
                src="../../assets/imgs/menu/menu-item-2.png" class="menu-img img-fluid" alt=""></a>
            <h4>Aut Luia</h4>
            <p class="ingredients"> Lorem, deren, trataro, filede, nerada</p>
            <p class="price"> $14.95</p>
          </div>
          <div class="col-lg-4 menu-item"> <a href="../../assets/imgs/menu/menu-item-3.png" class="glightbox"><img
                src="../../assets/imgs/menu/menu-item-3.png" class="menu-img img-fluid" alt=""></a>
            <h4>Est Eligendi</h4>
            <p class="ingredients"> Lorem, deren, trataro, filede, nerada</p>
            <p class="price"> $8.95</p>
          </div>
          <div class="col-lg-4 menu-item"> <a href="../../assets/imgs/menu/menu-item-4.png" class="glightbox"><img
                src="../../assets/imgs/menu/menu-item-4.png" class="menu-img img-fluid" alt=""></a>
            <h4>Eos Luibusdam</h4>
            <p class="ingredients"> Lorem, deren, trataro, filede, nerada</p>
            <p class="price"> $12.95</p>
          </div>
          <div class="col-lg-4 menu-item"> <a href="../../assets/imgs/menu/menu-item-5.png" class="glightbox"><img
                src="../../assets/imgs/menu/menu-item-5.png" class="menu-img img-fluid" alt=""></a>
            <h4>Eos Luibusdam</h4>
            <p class="ingredients"> Lorem, deren, trataro, filede, nerada</p>
            <p class="price"> $12.95</p>
          </div>
          <div class="col-lg-4 menu-item"> <a href="../../assets/imgs/menu/menu-item-6.png" class="glightbox"><img
                src="../../assets/imgs/menu/menu-item-6.png" class="menu-img img-fluid" alt=""></a>
            <h4>Laboriosam Direva</h4>
            <p class="ingredients"> Lorem, deren, trataro, filede, nerada</p>
            <p class="price"> $9.95</p>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="menu-breakfast" role="tabpanel">
        <div class="tab-header text-center">
          <p>Menu</p>
          <h3>Breakfast</h3>
        </div>
        <div class="row gy-5">
          <div class="col-lg-4 menu-item"> <a href="../../assets/imgs/menu/menu-item-1.png" class="glightbox"><img
                src="../../assets/imgs/menu/menu-item-1.png" class="menu-img img-fluid" alt=""></a>
            <h4>Magnam Tiste</h4>
            <p class="ingredients"> Lorem, deren, trataro, filede, nerada</p>
            <p class="price"> $5.95</p>
          </div>
          <div class="col-lg-4 menu-item"> <a href="../../assets/imgs/menu/menu-item-2.png" class="glightbox"><img
                src="../../assets/imgs/menu/menu-item-2.png" class="menu-img img-fluid" alt=""></a>
            <h4>Aut Luia</h4>
            <p class="ingredients"> Lorem, deren, trataro, filede, nerada</p>
            <p class="price"> $14.95</p>
          </div>
          <div class="col-lg-4 menu-item"> <a href="../../assets/imgs/menu/menu-item-3.png" class="glightbox"><img
                src="../../assets/imgs/menu/menu-item-3.png" class="menu-img img-fluid" alt=""></a>
            <h4>Est Eligendi</h4>
            <p class="ingredients"> Lorem, deren, trataro, filede, nerada</p>
            <p class="price"> $8.95</p>
          </div>
          <div class="col-lg-4 menu-item"> <a href="../../assets/imgs/menu/menu-item-4.png" class="glightbox"><img
                src="../../assets/imgs/menu/menu-item-4.png" class="menu-img img-fluid" alt=""></a>
            <h4>Eos Luibusdam</h4>
            <p class="ingredients"> Lorem, deren, trataro, filede, nerada</p>
            <p class="price"> $12.95</p>
          </div>
          <div class="col-lg-4 menu-item"> <a href="../../assets/imgs/menu/menu-item-5.png" class="glightbox"><img
                src="../../assets/imgs/menu/menu-item-5.png" class="menu-img img-fluid" alt=""></a>
            <h4>Eos Luibusdam</h4>
            <p class="ingredients"> Lorem, deren, trataro, filede, nerada</p>
            <p class="price"> $12.95</p>
          </div>
          <div class="col-lg-4 menu-item"> <a href="../../assets/imgs/menu/menu-item-6.png" class="glightbox"><img
                src="../../assets/imgs/menu/menu-item-6.png" class="menu-img img-fluid" alt=""></a>
            <h4>Laboriosam Direva</h4>
            <p class="ingredients"> Lorem, deren, trataro, filede, nerada</p>
            <p class="price"> $9.95</p>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="menu-lunch" role="tabpanel">
        <div class="tab-header text-center">
          <p>Menu</p>
          <h3>Lunch</h3>
        </div>
        <div class="row gy-5">
          <div class="col-lg-4 menu-item"> <a href="../../assets/imgs/menu/menu-item-1.png" class="glightbox"><img
                src="../../assets/imgs/menu/menu-item-1.png" class="menu-img img-fluid" alt=""></a>
            <h4>Magnam Tiste</h4>
            <p class="ingredients"> Lorem, deren, trataro, filede, nerada</p>
            <p class="price"> $5.95</p>
          </div>
          <div class="col-lg-4 menu-item"> <a href="../../assets/imgs/menu/menu-item-2.png" class="glightbox"><img
                src="../../assets/imgs/menu/menu-item-2.png" class="menu-img img-fluid" alt=""></a>
            <h4>Aut Luia</h4>
            <p class="ingredients"> Lorem, deren, trataro, filede, nerada</p>
            <p class="price"> $14.95</p>
          </div>
          <div class="col-lg-4 menu-item"> <a href="../../assets/imgs/menu/menu-item-3.png" class="glightbox"><img
                src="../../assets/imgs/menu/menu-item-3.png" class="menu-img img-fluid" alt=""></a>
            <h4>Est Eligendi</h4>
            <p class="ingredients"> Lorem, deren, trataro, filede, nerada</p>
            <p class="price"> $8.95</p>
          </div>
          <div class="col-lg-4 menu-item"> <a href="../../assets/imgs/menu/menu-item-4.png" class="glightbox"><img
                src="../../assets/imgs/menu/menu-item-4.png" class="menu-img img-fluid" alt=""></a>
            <h4>Eos Luibusdam</h4>
            <p class="ingredients"> Lorem, deren, trataro, filede, nerada</p>
            <p class="price"> $12.95</p>
          </div>
          <div class="col-lg-4 menu-item"> <a href="../../assets/imgs/menu/menu-item-5.png" class="glightbox"><img
                src="../../assets/imgs/menu/menu-item-5.png" class="menu-img img-fluid" alt=""></a>
            <h4>Eos Luibusdam</h4>
            <p class="ingredients"> Lorem, deren, trataro, filede, nerada</p>
            <p class="price"> $12.95</p>
          </div>
          <div class="col-lg-4 menu-item"> <a href="../../assets/imgs/menu/menu-item-6.png" class="glightbox"><img
                src="../../assets/imgs/menu/menu-item-6.png" class="menu-img img-fluid" alt=""></a>
            <h4>Laboriosam Direva</h4>
            <p class="ingredients"> Lorem, deren, trataro, filede, nerada</p>
            <p class="price"> $9.95</p>
          </div>
        </div>
      </div>
      <div class="tab-pane fade active show" id="menu-dinner" role="tabpanel">
        <div class="tab-header text-center">
          <p>Menu</p>
          <h3>Dinner</h3>
        </div>
        <div class="row gy-5">
          <div class="col-lg-4 menu-item"> <a href="../../assets/imgs/menu/menu-item-1.png" class="glightbox"><img
                src="../../assets/imgs/menu/menu-item-1.png" class="menu-img img-fluid" alt=""></a>
            <h4>Magnam Tiste</h4>
            <p class="ingredients"> Lorem, deren, trataro, filede, nerada</p>
            <p class="price"> $5.95</p>
          </div>
          <div class="col-lg-4 menu-item"> <a href="../../assets/imgs/menu/menu-item-2.png" class="glightbox"><img
                src="../../assets/imgs/menu/menu-item-2.png" class="menu-img img-fluid" alt=""></a>
            <h4>Aut Luia</h4>
            <p class="ingredients"> Lorem, deren, trataro, filede, nerada</p>
            <p class="price"> $14.95</p>
          </div>
          <div class="col-lg-4 menu-item"> <a href="../../assets/imgs/menu/menu-item-3.png" class="glightbox"><img
                src="../../assets/imgs/menu/menu-item-3.png" class="menu-img img-fluid" alt=""></a>
            <h4>Est Eligendi</h4>
            <p class="ingredients"> Lorem, deren, trataro, filede, nerada</p>
            <p class="price"> $8.95</p>
          </div>
          <div class="col-lg-4 menu-item"> <a href="../../assets/imgs/menu/menu-item-4.png" class="glightbox"><img
                src="../../assets/imgs/menu/menu-item-4.png" class="menu-img img-fluid" alt=""></a>
            <h4>Eos Luibusdam</h4>
            <p class="ingredients"> Lorem, deren, trataro, filede, nerada</p>
            <p class="price"> $12.95</p>
          </div>
          <div class="col-lg-4 menu-item"> <a href="../../assets/imgs/menu/menu-item-5.png" class="glightbox"><img
                src="../../assets/imgs/menu/menu-item-5.png" class="menu-img img-fluid" alt=""></a>
            <h4>Eos Luibusdam</h4>
            <p class="ingredients"> Lorem, deren, trataro, filede, nerada</p>
            <p class="price"> $12.95</p>
          </div>
          <div class="col-lg-4 menu-item"> <a href="../../assets/imgs/menu/menu-item-6.png" class="glightbox"><img
                src="../../assets/imgs/menu/menu-item-6.png" class="menu-img img-fluid" alt=""></a>
            <h4>Laboriosam Direva</h4>
            <p class="ingredients"> Lorem, deren, trataro, filede, nerada</p>
            <p class="price"> $9.95</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
